<!-- <div class="uk-padding">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="assets/img/person.png">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Name: {{data.name}}</h3>
                    <p class="uk-text-meta uk-margin-remove-top">Skill: {{data.skill}}</p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>Comments: {{data.note}}</p>
            <p>Email: {{data.email}}</p>

        </div>
        <div class="uk-padding">
            <div class="uk-card-footer ">
                <a class="uk-button uk-button-text">City:{{data.city}}</a>
                &nbsp;
                <a  class="uk-button uk-button-text">Price:{{data.price}}</a>

            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <h1>تفاصيل الموظف</h1>
            <!-- <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Library</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav> -->
            <div class="separator mb-5"></div>


        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="jumbotron">
                        <h1 class="display-4">اسم الموظف: {{data.emp_name}}</h1>
                        <p class="lead">اسم القسم: {{data.dep_name}}</p>
                        <p class="lead">وظيفة الموظف: {{data.emp_job}}</p>
                        <hr class="my-4">
                        <p style="font-size: x-large;">مكتب العمل: {{data.job_off}}
                        </p>
                        <p style="font-size: x-large;">البريد الإلكتروني: {{data.email}}
                        </p>
                        <p style="font-size: x-large;">تعليم الموظف: {{data.emp_edu}}
                        </p>
                        <p style="font-size: x-large;">تاريخ بدء الموظف: {{data.emp_start}}
                        </p>
                        <p style="font-size: x-large;">الحالة عسكريه الموظف: {{data.emp_militry}}
                        </p>
                        <p style="font-size: x-large;">تاريخ ميلاد الموظف: {{data.emp_birth}}
                        </p>
                        <p style="font-size: x-large;">عنوان الموظف: {{data.emp_address}}
                        </p>
                        <p style="font-size: x-large;">هاتف الموظف: {{data.emp_phone}}
                        </p>
                        <!-- <p class="lead  mb-0">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>