<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v1" id="kt_login">
	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
		<!--begin::Aside-->
		<!-- <div class="bg kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside">
			<div class="kt-grid__item">
				<a href="javascript:;" class="kt-login__logo">
					<img src="assets/img/inner-logo.png" alt="" style="height: 100px; width:85px">
				</a>
			</div>
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
				<div class="kt-grid__item kt-grid__item--middle">
					<h3 class="kt-login__title" style="text-align: center;">مرحبا بكم فى موقع الكوتش!</h3>
					<h6 style=" color:#17a2b8; font-weight: bold;font-size: 15px; font-family:Arial, Helvetica, sans-serif"> 

						Personal Training Software To Better Connect Trainers and Clients...
						Grow your business with online personal training, meal planning,
						in-app communication, workout and nutrition tracking.

					</h6>
				</div> 
			</div>
			<div class="kt-grid__item">
				<div class="kt-login__info">
					<div class="kt-login__copyright" style="color: #17a2b8; font-weight: bold">
						© {{today|date:'yyyy'}} Alcoach
					</div>
					<div class="kt-login__menu" >
						<a href="javascript:;" class="kt-link" style="color: #17a2b8; font-weight: bold">Privacy</a>&nbsp;
						<a href="javascript:;" class="kt-link" style="color: #17a2b8; font-weight: bold">Legal</a>&nbsp;
						<a href="javascript:;" class="kt-link" style="color: #17a2b8; font-weight: bold">Contact</a>&nbsp;
					</div>
				</div>
			</div>
		</div> -->
		<!--begin::Aside-->

		<!--begin::Content-->
		<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1 kt-login__wrapper">
			<!-- <router-outlet></router-outlet> -->
		</div>
		<!--end::Content-->
	</div>
</div>

<router-outlet></router-outlet>

