<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <h1>تفاصيل المكتب</h1>
            <!-- <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Library</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav> -->
            <div class="separator mb-5"></div>


        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="jumbotron">
                        <h1 class="display-4">اسم المكتب: {{data.office_name}}</h1>
                        <p class="lead">نوع المكتب: {{data.office_type}}</p>
                         <p class="lead">موقع المكتب: {{data.office_location}}</p>
                         <p class="lead">قسم المكتب: {{data.office_dep}}</p>

                        <hr class="my-4">
                        <p style="font-size: x-large;">وصف المكتب: {{data.office_desc}}
                        </p>
                        <!-- <p class="lead  mb-0">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>